body {
    line-height: 1.25;
}

.title {
    width: 400px;
    margin: 5px auto;
    margin-top: 15px;
    text-align: center;
    border: 2px solid black;
}

.rules {
    font-size: x-small;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 2px solid black;
}

div.on{
    background-color: black; 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.show > .btn-primary.dropdown-toggle:focus, .btn-primary:focus {
    box-shadow: none;
}

.rules h6 {
    margin-bottom: 0;
    padding-left: .5em;
    padding-top: .5em;
}

ol {
    margin: 0 .5em;
    padding-top: .5em;
    margin-bottom: 0;
    padding-left: 1.5em;
}

.board {
    max-width: 402px;
    max-height: 402px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 0;
}

.bottom {
    width: 400px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0;
}

div.dropdown {
    padding-bottom: .5em;
}

.dropdown.show {
    height: 125px;
}

.dropdown .btn-primary {
    color: black!important;
    background: none!important;
    border: none!important;
    padding: 0!important;
    padding-top: .5em!important;
    padding-left: 1em!important;
    font-size: x-small!important;
}

.dropdown-menu {
    min-width: auto!important;
    background: none!important;
    border: none!important;
    padding: 0!important;
    padding-left: 1.5em!important;
}

.dropdown-menu *{
    color: black!important;
    font-size: x-small!important;
    list-style-type: circle;
}

.buttonOff{
    background-color: red;
    border-color: red;
}